<!DOCTYPE html>
{% set anon_cubes = namespace(counter=0) %}
{% macro cube(start, moves=None, movetext=False, id=None) %}
  {% if not id %}
      {% set id="anon-cube-" + anon_cubes.counter | string %}
      {% set anon_cubes.counter = anon_cubes.counter + 1 %}
  {% endif %}
  <div id="{{ id }}" class="cube-target"></div>
  {% if moves %}
    <script>AnimCube3("id={{ id }}&facelets={{ start }}&edit=0&buttonbar=0&counter=0&move={{ moves }}&repeat=0&hint=7&scale=3&clickprogress=0{% if movetext %}&movetext=2{% endif %}");</script>
  {% else %}
    <script>AnimCube3("id={{ id }}&facelets={{ start }}&edit=0&buttonbar=0");</script>
  {% endif %}
  <div class="field is-grouped">
    <p class="control">
      <button class="button is-outlined is-small" onclick="reset_cube('{{ id }}')">
        <span class="icon">
          <i class="fas fa-fast-backward"></i>
        </span>
      </button>
    </p>
    {% if moves %}
    <p class="control">
      <button class="button is-outlined is-small" onclick="step_back_cube('{{ id }}')">
        <span class="icon">
          <i class="fas fa-step-backward"></i>
      </span>
      </button>    </p>
    <p class="control">
      <button class="button is-outlined is-small" onclick="step_cube('{{ id }}')">
        <span class="icon">
          <i class="fas fa-step-forward"></i>
        </span>
      </button>
    </p>
    <p class="control is-align-items-center is-flex ml-auto">
      <span id="{{ id }}-progress" class="cube-progress has-text-black"></span>
    </p>
    <script>setup_show_progress("{{ id }}");</script>
    {% endif %}
  </div>
{% endmacro %}
{% macro cube_box(start, moves=None, movetext=False, id=None) %}
  <div class="box has-background-cube-grey p-2">
    <div class="cube">
      {{ cube(start, moves, movetext, id) }}
    </div>
  </div>
{% endmacro %}
{% macro section(step, title) %}
<section class="section is-small">
  <div class="box">
      <h1 class="title">{{ title }}</h1>
      <h2 class="subtitle">
          Step {{ step }}
      </h2>
      {{ caller() }}
    </div>
</section>
{% endmacro %}
{% macro cube_column() %}
<div class="column is-narrow">
  {{ caller () }}
</div>
{% endmacro %}
{% macro blah_column(title) %}
<div class="column">
  <p class="title is-5">{{ title }}</p>
  <p>
    {{ caller () }}
  </p>
</div>
{% endmacro %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cubing!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <style>
    .cube-target {
      width: 220px;
      height: 240px;
    }
    .cube .caption {text-align: center; }
    .has-background-cube-grey {
      background-color: #808080;
    }
    </style>
    <script type="text/javascript" src="js/AnimCube3.js">
    </script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
      var acjs_get_var = [];
      var acjs_put_var = [];
      var acjs_button = [];
      var acjs_arrayMovePos = [];
      var acjs_moveTextFunc = [];
      var acjs_turnTextFunc = [];

      var cube_positions = [];

      /* Button assignments:
          0 reset
          1 back1
          2 back
          3 mir/stop
          4 play
          5 step
          6 end
          7 prev seq
          8 next seq
      */
      function cube_button(cube, n) {
        acjs_put_var[cube]("buttonPressed", n, "n");
        acjs_button[cube]();
      }

      function reset_cube(cube) {
        cube_button(cube, 0);
      }

      function step_back_cube(cube) {
        cube_button(cube, 1);
      }

      function step_cube(cube) {
        cube_button(cube, 5);
      }

      function setup_show_moves(cube) {
        const target = document.getElementById(cube + "-moves");
        document.getElementById(cube).addEventListener(
          "cube_update", (event) => {
              show_moves(target, cube);
            }
        );
      }

      function setup_show_progress(cube) {
        const target = document.getElementById(cube + "-progress");
        show_progress(target, cube);
        document.getElementById(cube).addEventListener(
          "cube_update", (event) => {
              show_progress(target, cube);
            }
        );
      }

      function get_moves(cube) {
        const move = acjs_get_var[cube]("move");
        const movePos = acjs_get_var[cube]("movePos");
        const curMove = acjs_get_var[cube]("curMove");

        const arrayMovePos = acjs_arrayMovePos[cube];
        const moveTextFunc = acjs_moveTextFunc[cube];

        const prev_move_text = acjs_get_var[cube]("moveText");
        acjs_put_var[cube]("moveText", 2, "n");

        const pos = movePos == 0 ? arrayMovePos(move[curMove], movePos) : movePos;
        const all_moves = moveTextFunc(move[curMove], 0, move[curMove].length).split(" ").filter(Boolean);
        const completed_moves = moveTextFunc(move[curMove], 0, pos).split(" ").filter(Boolean);

        acjs_put_var[cube]("moveText", prev_move_text, "n");

        return [completed_moves, all_moves]
      }

      function show_moves(target, cube) {
        const [completed_moves, all_moves] = get_moves(cube);
        const normal_moves = ["U", "D", "F", "B", "L", "R", "U'", "D'", "F'", "B'", "L'", "R'", "U2", "D2", "F2", "B2", "L2", "R2"];

        for(var block_start = completed_moves.length; normal_moves.includes(all_moves[block_start - 1]) && block_start > 0; block_start--);
        for(var block_end = completed_moves.length; normal_moves.includes(all_moves[block_end]) && block_end < all_moves.length; block_end++);

        target.innerText = all_moves.slice(block_start, block_end).join(" ")
      }

      function show_progress(target, cube) {
        const [completed_moves, all_moves] = get_moves(cube);

        const completed = completed_moves.filter((move) => move != ".").length + 1;
        const all = all_moves.filter((move) => move != ".").length + 1;
        target.innerText = completed + "/" + all;
      }

      setInterval(function () {
        Object.keys(acjs_get_var).forEach((cube) => {
          // Filter out the empty string, which seems to be present
          if(!cube) {
            return
          }
          const movePos = acjs_get_var[cube]("movePos");
          if(cube_positions[cube] != movePos) {
            cube_positions[cube] = movePos;
            const event = new CustomEvent("cube_update", { "detail": cube });
            document.getElementById(cube).dispatchEvent(event);
          }
        });
      }, 100);
    </script>
  </head>
  <body class="has-background-grey-dark">
  <section class="section">
    <div class="container">
      {%- block content %}{% endblock %}
    </div>
  </section>
  </body>
</html>